.backimg {
    background-image: url("./Assets/Images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar-brand {
    background-color: lightseagreen;
    

}

.footer{
    
    border-style: solid;
    border-color: lightseagreen;
    border-top: 
}

.img-fluid{
    float: left;
    width: 33.3%;
    padding: 50px;
}